/* .herobgcolor{ top: 0; left: 0; width: 100%; height: 100%;
    min-height: 81.9vh; 
    /* min-width: 0vh;  */
/* }

.herobgcolor {
  background: linear-gradient(to right, #5B22E8, #FF2362);
  -webkit-animation: nebulahero 20s infinite linear;
}

@-webkit-keyframes nebulahero {
	0% {-webkit-filter: hue-rotate(0deg);}
	100% {-webkit-filter: hue-rotate(-360deg);}
} */ 

/*  */